div.filter-sort-container {
  background-color: #efefef;
  padding: 5px;
  margin-bottom: 10px;
}

div.filter-sort-container > div {
  display: inline-block;
}

.form-item.form-type-checkbox {
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
  vertical-align: top;
  padding: 5px;
  width: 30%;
}

.webdam-asset-checkbox {
  display: flex;
  flex-direction: column;
  margin-top: -15px;
}

div.webdam-asset-thumb {
  height: 140px;
  overflow-y: scroll;
}

.webdam-asset-thumb img {
  max-width: 100%;
}

p.webdam-asset-filename {
  height: 40px;
  overflow-y: scroll;
  margin-bottom: 0.5em;
}

input[type="checkbox"] {
  position: relative;
  top: 10px;
  left: 5px;
  box-shadow: 0px 0px 4px 1px #82b4ff;
}

.webdam-browser-empty {
  height: 80px;
  width: 100%;
  background-color: #efefef;
  font-size: 1.4em;
  padding-top: 60px;
}

input.webdam-browser-breadcrumb-container {
  margin: 5px 0;
}

input.webdam-browser-breadcrumb {
  border: none;
  background: transparent;
  margin: 5px 0;
  text-decoration: underline;
  padding-left: 5px;
  padding-right: 5px;
}

input.webdam-browser-breadcrumb:hover,
input.webdam-browser-breadcrumb:focus {
  background: none;
  box-shadow: none;
  border: none;
}

.webdam-breadcrumb-trail::before {
  content: ">>";
  font-size: 80%;
}

.webdam-breadcrumb-trail:first-of-type::before {
  content: none;
}

/* Allow sticky footer to work. */
div#edit-asset-container {
  height: 300px;
  overflow-y: scroll;
}

/* Sticky footer */
div#edit-actions {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  background: white;
}
